<h3>Langkah 2: Pengesahan</h3>
<h5>Sila pastikan bahawa produk-produk berikut adalah produk yang ingin anda pesan untuk pembelian.</h5>
<br>
<cart-table [cart]="cart" [disableDelete]="true"></cart-table>
<p>Adakah anda pasti dengan pesanan ini? Klik "Sahkan Pesanan" untuk meletakkan pesanan atau "Kembali" untuk mengubahsuai pesanan
  anda.</p>
<div class="inline-btn-right">
  <a class="btn btn-default" (click)="goBack()">
    <span class="glyphicon glyphicon-circle-arrow-left"></span> Kembali
  </a>
  <a class="btn btn-default" (click)="confirmOrder()">
    <span class="glyphicon glyphicon-ok"></span> Sahkan Pesanan
  </a>
</div>