<div>
  <h2>Selamat datang, Ahmad Ali bin Abu!</h2>
  <h3>Langkah 1: Tempahan</h3>
  <br>
  <form>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Kod Kategori</th>
          <th>Kod Produk</th>
          <th>Nama Produk</th>
          <th>BV</th>
          <th>Harga (RM)</th>
          <th>Bilangan</th>
          <th>Jumlah BV</th>
          <th>Jumlah Harga (RM)</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <select class="form-control">
                      <option>101</option>
                      <option>102</option>
                      <option>103</option>
                    </select>
          </td>
          <td>
            <select class="form-control">
                      <option>101</option>
                      <option>102</option>
                      <option>103</option>
                    </select>
          </td>
          <td>
            <p class="form-control-static">Produk Sampel PSSCM</p>
          </td>
          <td>
            <p class="form-control-static">20</p>
          </td>
          <td>
            <p class="form-control-static">35.00</p>
          </td>
          <td><input class="form-control" type="number" value="1"></td>
          <td>
            <p class="form-control-static">20</p>
          </td>
          <td>
            <p class="form-control-static">35.00</p>
          </td>
          <td><span class="glyphicon glyphicon-remove form-control-static"></span></td>
        </tr>
        <tr>
          <td colspan="9">
            <button class="btn btn-default" href="#"><span class="glyphicon glyphicon-plus"></span> Tambah Produk</button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="6">
            <p class="form-control-static pull-right">Jumlah Keseluruhan</p>
          </th>
          <td>
            <p class="form-control-static">20</p>
          </td>
          <td>
            <p class="form-control-static">35.00</p>
          </td>
        </tr>
      </tfoot>
    </table>
    <a class="btn btn-default pull-right" (click)="onSubmit()">
      <span class="glyphicon glyphicon-circle-arrow-right"></span> Teruskan
    </a>
  </form>
</div>