<div>
  <h2>Selamat datang, Ahmad Ali bin Abu!</h2>
  <h3>Langkah 1: Tempahan</h3>
  <br>
  <div class="col-md-10">
    <cart-table [cart]="cart" (removeItem)="removeFromCart($event)"></cart-table>
    <a role="button" class="btn btn-default pull-right" (click)="onSubmit()">
      <span class="glyphicon glyphicon-circle-arrow-right"></span> Teruskan
    </a>
  </div>
  <div class="col-md-2">
    <form (ngSubmit)="addItemToCart()" #itemForm="ngForm">
      <div class="form-group" [class.has-error]="!item.categoryCode">
        <label for="categoryCode">Kod Kategori</label>
        <select class="form-control" id="categoryCode" [(ngModel)]="item.categoryCode" name="categoryCode" (ngModelChange)="categoryCodeChanged()" required>
          <option *ngFor="let code of categoryCodes" [value]="code">{{code}}</option>
        </select>
      </div>
      <div class="form-group" [class.has-error]="!item.productCode">
        <label for="productCode">Kod Produk</label>
        <select class="form-control" id="productCode" [(ngModel)]="item.productCode" name="productCode" (ngModelChange)="productCodeChanged()" required>
          <option *ngFor="let catItem of catalogMap.get(item.categoryCode)" [value]="catItem.pcode">{{catItem.pcode}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Produk</label>
        <p class="form-control-static" *ngIf="item.productCode">{{item.productName}}</p>
        <p class="form-control-static" *ngIf="item.productCode">(RM{{item.price | number:'1.2-2'}}, {{item.bv | number:'1.0-0'}} BV)</p>
        <p class="form-control-static" *ngIf="!item.productCode">Sila pilih kod kategori dan produk.</p>
      </div>
      <div class="form-group" [class.has-error]="item.quantity < 1">
        <label for="quantity">Bilangan</label>
        <input class="form-control" type="number" min="1" step="1" value="1" [(ngModel)]="item.quantity" name="quantity" required>
      </div>
      <button class="btn btn-default" type="submit" [disabled]="!itemForm.form.valid || item.quantity < 1">
        <span class="glyphicon glyphicon-plus"></span> Tambah Produk
      </button>
    </form>
  </div>
</div>