<h3>Tahniah! Pesanan anda telah diterima.</h3>
<p>Berikut adalah maklumat berkaitan dengan pesanan anda.</p>
<br>
<table class="order-data">
  <tr>
    <th>ID Pesanan</th>
    <td>{{latestOrder.orderId}}</td>
  </tr>
  <tr>
    <th>Nama Pembeli</th>
    <td>Ahmad Ali bin Abu</td>
  </tr>
  <tr>
    <th>ID Pembeli</th>
    <td>{{latestOrder.user}}</td>
  </tr>
</table>
<cart-table [cart]="latestOrder.cart" [disableDelete]="true"></cart-table>
<p>Sila ke bahagian "Semak Status" untuk memuat naik bukti pembayaran anda dan untuk menyemak status pesanan ini.</p>
<a class="btn btn-default pull-right" routerLink="/order-status">
  <span class="glyphicon glyphicon-th-list"></span> Semak Status
</a>